body {
    text-align: center;
}

table {
    margin: 10px auto;
    table-layout: fixed;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid black;
    cursor: pointer;
}

h4 {
    text-align: center;
}

button {
    margin: 15px;
}

#reset-game-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px;
}